//$bg_gray: #F5F8FB;
//$bg_gray2: #F6FBFF;
//$yell: #FFD200;
//$pink: #FF485A;
//$green: #00BD89;
//$white: #FFFFFF;
//$grey1: #D0D6DB;
//$grey2: #A0A7B1;
//$grey3: #808792;
//$grey4: #404751;
//$dark: #1F242E;


$grey_l: #DCDCDC;
$grey_D: #777777;
$gey_un1: #A1A1A1;
$gey_un2: #B3B3B3;
$white: #fff;
$black: #444444;
$error: #FF8D8D;
$error_t: #DC7F7F;













/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */


/*  */
